

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	body{
		color:#000;
		font-size:16px;
		font-family: Arial, sans-serif;
	}

  td{
    padding: 1em;
  }


/*this is for the carousel*/
.carousel .row .span3 {
display: block;
float: left;
width: 25%;
margin-left: 0; 
color: red;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

footer{
  padding:2em;
}















