

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image: url('/light_grey.png');
    margin: .96em;
}


header{
    text-align: center;
    padding-top:6.25em ;
    padding-bottom:3.95em;
}


h1#header{
    padding:.05em;
    font-family: "Playfair Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;    /*font-style: italic;*/
    /*font-weight: bold;*/

}
h1{
      font-family: "Playfair Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
    /*font-style: italic;*/
    /*font-weight: bold;*/
}

h2, h3, h4, h5, li, a{
    font-family:'Quicksand', sans-serif;
    text-align: center;
    color:black;
}
h4:hover{
 color: #673ab7;
}

p, *{
    font-family: 'EB Garamond', serif;
}

/*h1{
    font-family: 'Marcellus';
}*/

div#navDiv{
    /*border:1px solid #ccc;*/
    border:1px solid #9d9995;
    border-width:1px 0;
    text-align: center;
    /*background-color: white;*/

}

ul.nav{
    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline-block;
    color:black;
    /*color:#673ab7;*/
}

ul.nav>li{
    display:inline;
    text-align: center;
    color:black;
    /*color:#673ab7;*/
}

ul.nav>li>a{
    display:inline-block;
    padding:10px;
    text-align:center;
    color:black;
    font-size: 1.3em; 
    /*color:#673ab7;*/
}

ul.nav>li>a:hover{
    text-decoration: none;
    /*font-weight: bold;*/
    color: #673ab7;
    background-color:transparent ;
}


ul.nav>li>a.active{
    text-decoration: none;
    /*font-weight: bold;*/
    color: #673ab7;
    background-color:transparent !important;
}


ul.nav>li>a:focus{
    background-color: transparent;
}




footer{
    text-align:center;
    /*color: #673ab7;*/
}

footer>ul{
    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline-block;
}

footer>ul>li{
    display:inline;
    text-align: center;
}

footer>ul>li>a{
    display:inline-block;
    padding:10px;
    text-align:center;
}

label{
    text-align: center;
    font-weight:normal; 
}

a:hover{
    color:#673ab7;
}
img#aboutpic{
    height:20em;
    display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}

.center{
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%);
}

.aboutcontainer{
    display:-ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap; 
}
@media all and (max-width:700px){  
    div.columnright{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .columnleft>h3{
        text-align:center !important;
    }
}


.columnright{
    flex: 1 0 30%;
    /*width: 70%;*/
    padding:.5em;
    justify-content:center;
    text-align:left;
}
.columnleft{
    flex: 1 0 70%;
    padding:.5em;
    text-align:left;
    
}
.columnleft>h3{
    text-align:left;
}

/*For the instagram grid.. or any flex grid hopefully!!!*/
ul.list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between, center; 
  padding-left:0;

}
p#projectDesc{
    text-align:center;
}
img#projectImage{
    
    width:150px;
    height:150px;
    object-fit: cover;
}


.list-content {
   display: flex;
   flex-direction: column;
   /*background-color: #fff;*/
   padding: .5em;
   width: 100%;
}
.list-content p {
  flex: 1 0 auto;
}

div.inner{
    margin: 0 auto; 
}


.list > div{
    display:flex;
    flex-flow:column;
    align-items:center;
}
@media all and (min-width:4em) {
  .list-item {
    padding: 0.5em;
    width: 100%;
  }
}

@media all and (min-width: 30em) {
   .list-item {
    width: 50%;
    padding: 0.5em;
    display:flex;
  }
}

@media all and (min-width:40em){
    .instagram > .list-item{
        display:flex;
        padding:0.5em;
        width:33.33%;
    }
}
@media all and (min-width: 45em) {
    .list-item {
      display: flex; 
      padding: 0.5em;
      width: 33.33%;
    }
}

@media all and (min-width: 50em) {
    .list-item {
      display: flex; 
      padding: 0.5em;
      width: 25%;
    }

@media all and (min-width: 60em) {
    .list-item {
      display: flex; 
      padding: 0.5em;
      width: 20%;
    }
}

@media only screen and (max-device-width:480px) and (orientation:portrait){
    .list-item {
    padding: 0.5em;
    width: 100%;
  }
   h1{
    font-size: 2em;
  }
  h2{
    font-size:1.625em;
  }
  h3{
    font-size:1.375em;
  }
  h4{
    font-size:1.125em;
  }
  p{font-size:1em;}
  a{
    font-size:1em;
    color: #673ab7;
  }
}

@media only screen and (max-device-width:480px) and (orientation:landscape){
   .list-item {
    width: 50%;
    padding: 0.5em;
    display:flex;
  }
  h1{
    font-size: 2em;
  }
  h2{
    font-size:1.625em;
  }
  h3{
    font-size:1.375em;
  }
  h4{
    font-size:1.125em;
  }
  p{font-size:1em;}
  a{
    font-size:1em;
    color: #673ab7;
  }




/*img#projectImage{
   object-fit: cover;
   height: 150px;
   width: 150px;
}*/

/*#project > .list > div{
    display:flex;
    flex-flow:column;
    align-items:center;
}*/











