

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image: url('/light_grey.png');
    margin: .96em;
    font-size:16px; 
}


header{
    text-align: center;
   /* padding-top:6.25em ;*/
    padding-top:5.5em;
    padding-bottom:3.95em;
   /* padding-top:5em;
    padding-bottom:2em;*/
}


h1#header{
    padding:.05em;
    font-family: "Playfair Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 

}
h1{
      font-family: "Playfair Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
      font-size:36px;
}

h2, h3, h4, h5, li, a{
    font-family:'Quicksand', sans-serif;
    text-align: center;
    color:black;
}
h2{
    padding-top:0.5em;
}
a>h2:hover, a>h4:hover{
 color: #673ab7;
 text-decoration: underline;
}


a:hover, a:focus, a:active{
    color:#673ab7 !important;
    text-decoration: underline;
}

p, *{
    font-family: 'EB Garamond', serif;
}


div#navDiv{
    border:1px solid #9d9995;
    border-width:1px 0;
    text-align: center;
}

ul.nav{
    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline-block;
    color:black;
    /*color:#673ab7;*/
}

ul.nav>li{
    display:inline;
    text-align: center;
    color:black;
    /*color:#673ab7;*/
}

ul.nav>li>a{
    display:inline-block;
    padding:10px;
    text-align:center;
    color:black;
    /*font-size: 1.3em; */
    /*color:#673ab7;*/
}

ul.nav>li>a:hover{
    text-decoration: none;
    color: #673ab7;
    background-color:transparent ;
}


ul.nav>li>a.active{
    text-decoration: none;
    color: #673ab7;
    background-color:transparent !important;
}


ul.nav>li>a:focus{
    background-color: transparent;
}

footer{
    text-align:center;
}

footer>ul{
    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display:inline-block;
}

footer>ul>li{
    display:inline;
    text-align: center;
}

footer>ul>li>a{
    display:inline-block;
    padding:10px;
    text-align:center;
    color:black;
}



label{
    text-align: center;
    font-weight:normal; 
}

 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      h1{ font-size:50px;}
      ul.nav>li>a{
        /*font-size:1.5em;*/
        font-size:130%;
      }
      h5{
        font-size:18px;
      }
      h4{
        font-size:22px; 
      }
       h2{
        font-size:32px; /*was 18*/
      }
      p{
        font-size:110%;
      }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      h1{ font-size:50px;}
      ul.nav>li>a{
        /*font-size:1.5em;*/
        font-size:130%;
      }
       h5{
        font-size:18px;
      }
      h4{
        font-size:22px; 
      }
       h2{
        font-size:32px; /*was 18*/
      }
      p{
        font-size:110%;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      h1{ font-size:42px;}
      ul.nav>li>a{
        /*font-size:1.4em;*/
        font-size:130%;
      }
       h5{
        font-size:18px;
      }
      h4{
        font-size:22px; 
      }
       h2{
        font-size:32px; /*was 18*/
      }
      p{
        font-size:110%;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      h1{ font-size:42px;}
      ul.nav>li>a{
        /*font-size:1.3em;*/
        font-size:130%;
      }
       h5{
        font-size:16px;
      }
      h4{
        font-size:20px; 
      }
       h2{
        font-size:30px; /*was 18*/
      }
      p{
        font-size:100%;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      h1{ font-size:42px;}
      ul.nav>li>a{
        /*font-size:1.3em;*/
        font-size:130%;
      }
       h5{
        font-size:16px; /*was 14*/
      }
       h4{
        font-size:20px; /*was 18*/
      }
       h2{
        font-size:30px; /*was 18*/
      }
      p{
        font-size:100%;
      }
    }

/*===============================================*/



.profilepic{
  max-height:320px;
  display: inline-block;
  float:none;
  padding:.5em;
}

.center{
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%);
}

/*For the instagram grid.. or any flex grid hopefully!!!*/
ul.list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between, center; 
  padding-left:0;

}
p#projectDesc{
    text-align:center;
}


.image-holder { 
  /*height: 15em;*/
  width:100%;
  height:100%;
  max-width: 15em; 
  max-height:15em;
  object-fit: cover;
}

.image-holder-insta{
  height:15em;
  object-fit:cover;
}

.list-content {
   /*display: flex;
   flex-direction: column;*/
   /*background-color: #fff;*/
   padding: .5em;
   width: 100%;
   text-align:center;
   display: inline-block;
   float:none;
}
.list-content p {
  /*flex: 1 0 auto;*/
  text-align: center;
}

.list-content img{
  text-align:center;
  display:inline-block;
  float:none;
}


  div.columnright{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .columnleft>h3{
        text-align:center !important;
    }

}


  div.columnright{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .columnleft>h3{
        text-align:center !important;
    }

  }


.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


.is-flex .box {
  background: none;
  position: static;
}
.is-flex [class*="col-"] {
  /*background: #fff;*/
}








