<div class="aboutcontainer">
 

<div class="columnright col">

        <img id="aboutpic" src="img/IMG_2361.jpg" alt="Hila Gutfreund"/>
  
</div>
   <div class="columnleft col">
    <h3>Hi, my name is Hila</h3>
    <p>I am a software developer at IBM Israel. Currently I am in charge of building, testing, and maintaining the user interface for the MobileFirst console, a responsive single page Angular web application.</p>
    <p> I graduated from the Double Degree program from Barnard College of Columbia University and List College of the Jewish Theological Seminary with two degrees in computer science and modern Jewish studies in 2014.</p>
    <p>I am interested in the the way technology can affect storytelling, art, and design. Whether I am drawing simple grid patterns or creating web applications, I'm interested in understanding how technology can enhance content.</p>
    </div>
</div>