<!-- <div class="aboutcontainer"> -->
 <div class="row">
 <h3>Hi, my name is Hila</h3>
<!-- <div class="columnright col"> -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="block-center thumbnail profilepic center" src="img/IMG_2361.jpg" alt="Hila Gutfreund"/>
  
    </div>
   <!-- <div class="columnleft col"> -->
   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 columnleft">
   
    <p>I am interested in the the way technology can affect storytelling, art, and design. After interning at the New Yorker my senior year of college, I realized my passion for interactive and engaging storytelling. Whether I am drawing simple grid patterns for fun, or evaluating how users interact with apps and websites, I'm interested in the intersection of storytelling and technology, as well as understanding how technology can enhance the user experience of traditional content.</p>
    <p> I am currently a first year masters student in the Human Factors and Ergonomics program at San Jose University, studying human computer interaction, user experience, and human factors on a broader level (from consumer products to music applications--and everything in between). </p>
	<p>After graduating the Double Degree program between Barnard College of Columbia University and List College of the Jewish Theological Seminary with two degrees in computer science and modern Jewish studies in 2014, I worked as a front-end developer at IBM, learning that the process of designing and researching how to make an incredible product is the most important part to actually developing a successful one.</p>
    <p>I am looking for internship opportunities in product management or UX design and research. Please contact me if you have any leads!</p>
   
    </div>
</div>