<!-- <div class="aboutcontainer"> -->
 <div class="row">
 <h3>Hi, my name is Hila</h3>
<!-- <div class="columnright col"> -->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="block-center thumbnail profilepic center" src="img/IMG_2361.jpg" alt="Hila Gutfreund"/>
  
    </div>
   <!-- <div class="columnleft col"> -->
   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-12 columnleft">
   
    <p>I am interested in the the way technology can affect storytelling, art, and design. Whether I am drawing simple grid patterns or creating web applications, I'm interested in the intersection of technology and design, as well as understanding how technology can enhance content.</p>
    <p> I graduated from the Double Degree program between Barnard College of Columbia University and List College of the Jewish Theological Seminary with two degrees in computer science and modern Jewish studies in 2014. I have interned at the New Yorker magazine and worked as a front-end developer at IBM.</p>
    <p>I am looking for oppurtunities in UX and front-end engineering. Please contact me if you have any leads.</p>
   
    </div>
</div>