
<h2>Projects</h2>
<h4>University projects completed at Columbia University</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/1" />
                <h3><a href="https://github.com/OprahOfUnity/cs4172-finalProj">Breach</a></h3>
                <label>Breach is an augmented reality, tower destruction game for mobile devices.</label>
   
                <label>3D UI and Augmented Reality, 2014</label>
                <label><a href="">Breach Documentation</a></label>             
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="img/WHET.png" />
            <h3><a href="http://whet-plt.github.io/wdjc/">WDJC</a></h3>
            <label>DJ is a procedural scripting language for algorithmic music production.</label>
   
            <label>PLT, 2013</label>  
            <label><a href="https://github.com/WHET-PLT/documents">WDJC Documentation</a></label>              
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="img/squareday.png" />
            <h3>Squareday</h3>
            <label>SquareDay is a FourSquare based schedule generator.</label>

            <label>User Interface Design, 2013</label> 
            <br>
            <label><a href="http://squareday.github.io/squareday/SquareDay_user.pdf">Squareday Documentation</a></label>                 
        </div>

          <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="img/daftPunk.jpg" />
            <h3>Strokes</h3>
            <label>A gesture based video controlling web application.</label>
            <label>User Interface Design, 2013</label>
            <br>
            <label><a href="">Strokes Documentation</a></label>                  
        </div>
    </div>
</div>


<br> 

<!-- <div id="instafeed"></div>  -->
<h2>HILArious Designs</h2>
<h4>Instagram showcasing my design and pattern work</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <div id="instafeed"></div>
        </div>
    </div>
</div>

<!-- <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <div class="carousel-inner" id="instafeed">
            </div>
        </div>
    </div> -->
