
<h2>Projects</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/1"  />
            <div class="caption">
                <p>Label 1</p>
                <label>hello world</label>
            </div>              
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/2" />
            <label>Label 2</label>                
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/3" />
            <label>Label 3</label>                
        </div>
      
          <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/1"  />
            <input type="checkbox" id="char1"/>
            <label for="char1">Label 1</label>                
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/2" />
            <input type="checkbox" id="char2"/>
            <label for="char2">Label 2</label>                
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell">
            <img src="http://lorempixel.com/1500/600/abstract/3" />
            <input type="checkbox" id="char3"/>
            <label for="char3">Label 3</label>                
        </div>
       
    </div>
</div>